<div class="user-edit">
  <div class="user-edit__content">
    <h2>アカウント情報・変更</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :avatar, "アイコン画像" %> <br />
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :name, "ユーザー名" %> <br />
      <%= f.text_field :name, class:"user-edit__item" %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"user-edit__item" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, "パスワード" %> <i>(変更なしの場合は空白)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"user-edit__item" %>
      <% if @minimum_password_length %>
        <br />
        <em>※<%= @minimum_password_length %> 文字以上で入力</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワードの確認" %><i>(変更なしの場合は空白)</i><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"user-edit__item" %>
    </div>

    <div class="field">
      <%= f.label :current_password, "現在のパスワード" %><br />
      <i>(パスワードを変更するには、現在のパスワードが必要です)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"user-edit__item" %>
    </div>

    <div class="actions">
      <%= f.submit "更新する", class:'login-btn' %>
    </div>

    <%= link_to "< 戻る", :back, class:'back' %>
    <% end %>

    <div class="delete">
      <h3>アカウント削除</h3>

      <p>※アカウント削除した場合は元に戻せません。<br>
      上記了承の上、削除ボタンを押してください。 <%= button_to "削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class:"delete__btn" %></p>
    </div>

  </div>
</div>
