<div class="reservation_form">
  <%= form_with model: @reservation, url: "reservations/confirm", local: true do |f| %>
    <table>
      <tbody>
        <tr>
          <td><%= f.label :start_date, "開始日" %></td>
        </tr>
        <tr>
          <td><%= f.date_field :start_date %></td>
        </tr>
        <tr>
          <td><%= f.label :end_date, "終了日" %></td>
        </tr>
        <tr>
          <td><%= f.date_field :end_date %></td>
        </tr>
        <%= f.hidden_field :user_id, :value => params[:user_id] %>
        <%= f.hidden_field :room_id, :value => params[:room_id] %>
        <tr>
          <td><%= f.label :person, "人数" %></td>
        </tr>
        <tr>
          <td><%= f.number_field :person %></td>
        </tr>
        <tr>
          <td><%= f.submit "確認画面へ進む" %></td>
        </tr>
      </body>
    </table>
  <% end %>
</div>