<!DOCTYPE html>
<html>
  <head>
    <title>PoteShareApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header class="header">
      <div class="header__inner">
        <div class="header__logo">
          <%= link_to "/" do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </div>
        <div class="header__search">
          <%= form_with url: area_rooms_path, method: :get, local: true do |f| %>
            <%= f.text_field :area, placeholder: "エリアで探す", class:"area" %>
            <% f.submit :area %>
          <% end %>
          <%= form_with url: search_rooms_path, method: :get, local: true do |f| %>
            <%= f.text_field :area, placeholder: "キーワードで探す" %>
            <% f.submit :keyword %>
          <% end %>
        </div>
      <div>
      <div class="header__nav">
        <% if user_signed_in? %>
          <p><%= current_user.name %></p>
          <div class="accordion-title click-title">
            <% if current_user.avatar.attached? %>
              <%= image_tag(current_user.avatar.variant(resize:'50x50'), class:"avatar") %>
            <% else %>
              <%= image_tag 'icon_dummy.jpg', size: '50x50', class:"avatar" %>
            <% end %>
          </div>
          <ul class="accordion-nav">
            <li><%= link_to "ルーム登録", :new_room, class:'nav_btn' %></li>
            <li><%= link_to "登録済ルーム一覧", :rooms, class:'nav_btn' %></li>
            <li><%= link_to "予約済ルーム一覧", room_reservations_path(:room_id), class:'nav_btn' %></li>
            <li><%= link_to "設定", edit_user_registration_path, class:'nav_btn' %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:'nav_btn' %></li>
          </ul>
        <% else %>
          <button><%= link_to "ログイン", new_user_session_path, class: 'header__login' %></button>
          <button><%= link_to "新規登録", new_user_registration_path, class: 'header__new' %></button>
        <% end %>
      </div>
    </header>

    
    <% if flash[:notice] %>
      <div class="flash">
        <p class="notice"><%= flash[:notice] %></p>
      </div>
    <% end %>
    

  <%= yield %>

  <footer>
    <p>© 2022 POTEPAN.INC.</p>
  </footer>

  </body>
</html>
